
################################################################################
# GITIGNORE FILE
################################################################################

desktop.ini

# build data / generated data / etc...
[Tt][Ee][Mm][Pp]/
[Bb][Uu][Ii][Ll][Dd]/
[Rr][Ee][Ll][Ee][Aa][Ss][Ee].zip

# vs cache data
tools/debug/.vs/
tools/debug/enc_temp_folder/
